body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background: #0d0d0d;
    color: #f2f2f2;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #111;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    width: calc(100vw - 31px);
}

header h2 {
    margin: 0;
    color: white;
    font-weight: 600;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #bbb;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #fff;
}

nav a.active {
    color: gold;
    border-bottom: 2px solid gold;
    padding-bottom: 3px;
}

/* SECTIONS */
section {
    height: 100vh;
    padding: 120px 60px 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #222;
}

h1,
h2 {
    color: gold;
    margin-top: 0;
}

.project-box {
    background: #181818;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #2a2a2a;
}

.skill {
    margin: 20px 0;
}

.skill span {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
}

.progress-bar {
    width: 100%;
    background: #222;
    border-radius: 8px;
    height: 14px;
    overflow: hidden;
    border: 1px solid #333;
}

.progress {
    height: 100%;
    background: gold;
    border-radius: 8px;
    transition: width 0.6s ease;
}
.home-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;
    gap: 12px;
}
.profile-img img {
    width: 200px;
}
.divider-sep {
    height: 300px;
    width: 1px;
    background-color: gold;
}
/* 
4da3ff
*/